p !{message}

h4(style='margin-bottom: 0') Do Not Reply To This Email

p(style='margin-top: 5px').
    Please do not reply directly to this email. Software Consulting Associates will not receive a reply message.
    If you have any questions, please contact your Municipality directly.

h4(style='margin-bottom: 0') References

if isCitizen
    p(style='margin-top: 5px').
        City Squared #[a(href='https://www.citysquared.com/#/public/login') https://www.citysquared.com]
else 
    p(style='margin-top: 5px').
        Municity5: #[a(href='http://www.municity5.com/municity5') http://www.municity5.com] #[br]
        City Squared #[a(href='https://www.citysquared.com/#/public/login') https://www.citysquared.com]