div#emailWrapper(
    style={
        width: '600px',
        margin: '0 auto',
    }
)

    header
        img(src='https://origin.ih.constantcontact.com/fs164/1116307387332/img/101.png' alt='Municity 5 logo')

    div#main(
        style={padding: '10px 40px'}
    )

        h1 Welcome, #{name}!

        p.
            An account has been created for you at Municity5. Please use the following information to log-in
            #[a(href='http://municity5.com/municity5') here].

        p#credentials(
            style={ padding: '10px 50px' }
        ).
            #[b Username:] #{username} #[br]
            #[b Password:] #{password}

        p.
            For product information, tips, and general help, try reading the
            #[a(href='http://municitysoftware.com/documents/Municity%205/Municity5%20User%20Manual%20v3.3.pdf') Municity 5 User Manual].

        p.
            Municity 5 is designed to be used in Google Chrome. #[br]
            If you are not using Google Chrome, click
            #[a(href='https://www.google.com/chrome/') here] to download it. #[br]
            If you experience any issues, please contact your IT department.

        p
            | Thank you,
            br
            i The Municity5 Team

        img(src='https://origin.ih.constantcontact.com/fs164/1116307387332/img/100.png')
