html
	head
		title= 'Municity Node'
		link(rel='stylesheet', href='/stylesheets/Main.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' type='text/css')
	body.body
		span.white 
			b.green Municity 
			a Node
		br
		span.white.small 
			b.green by 
			a Caleb Wright
		br
		br
		span.white.medium
			b Documentation
			br
		- var docs = ["File Management", "Uploading", "Emailing", "Notifications", "PayPal", "New Customer Setup", "Exports"]
		- var href = ["#FileManagement", "#Uploading", "#Emailing", "#Notifications", "#PayPal", "#NewCustomerSetup", "#Exports"]
		- for (var i = 0; i < docs.length ; ++i) {
			a(href="Doc.html"+href[i])
				span.white.link= docs[i]
			br
		- }