html
	head
		title= 'Municity Node'
		link(rel='stylesheet', href='/stylesheets/Main.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' type='text/css')
	body.body
		span.white 
			b.green Restricted 
			a Access
		br
		br
		span.white.small 
			a bummer...