.body{
	background-color:#333;
	font-family:'Raleway' !important;
	color:#ECF0F1;
}
.green{
	color:#2ECC71 !important;
}
.darkgreen{
	color:#27AE60 !important;
}
.white{
	color:#ECF0F1 !important;
}
.small{
	font-size:14px;	
}
.medium{
	font-size:16px;	
}
.large{
	font-size:18px;	
}
.path{
	padding-left:20px;
}
.thin{
	font-weight:300;
}
.ulheader{
	color:#ECF0F1 !important;
	padding-left:10px;
	font-size:16px;
}
h2{
	padding-top:30px;
	font-family:'Raleway' !important;
}
h3{
	padding-top:10px;
	font-family:'Raleway' !important;
}
a:hover{
	color:#2ECC71 !important;
	border-left:1px solid #2ECC71;
	text-decoration: none;
}
li a{
	font-size:14px;
	color:#ECF0F1;
	padding-left:30px;
}
.active{
	color:#2ECC71 !important;
	border-left:1px solid #2ECC71;
	text-decoration: none;
}
li{
	list-style: none;
	margin-top:8px;
}
a.anchor{
	display: block;
	position: relative; 
	top: -75px; 
	visibility: hidden;
}
.sidebar{
	display:inline !important;
}
.scrollref{
	width:1px;
	height:1px;
}
.param{
	color:#2980B9 !important;
}
.red{
	color:#C0392B !important;
}
.orange{
	color:#F39C12 !important;
}
.yellow{
	color:#F1C40F !important;
}
.footlink{
	color:#ECF0F1 !important;
}
.footlink:hover{
	color:#ECF0F1 !important;
	border:none;
	text-decoration: none;
}
.footer{
	margin-top:30px;
	margin-bottom:30px;
	border-top:1px solid #444;
	padding-top:10px;
}
::selection {
	background: #2ECC71; /* Safari */
	}
::-moz-selection {
	background: #2ECC71; /* Firefox */
}
.green::selection {
	background: #333; /* Safari */
	}
.green::-moz-selection {
	background: #333; /* Firefox */
}

