.body{
	text-align:center;
	background-color:#333;
	font-family:'Raleway';
	font-size:48px;
	padding:180px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor:default;
}
.green{
	color:#2ECC71;
	font-weight: bold;
}
.white{
	color:#ECF0F1;
}
.small{
	font-size:18px;	
}
.medium{
	font-size:24px;	
}
.link{
	cursor:pointer;
	font-size:20px;	
}
.link:hover{
	color:#2ECC71;
}
a{
	text-decoration: none;
}
